<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Database</title>
</head>
<body>
{% if List_works %}
    {% for item in List_works %}
        <p>{{ item.name }}</p>
    {% endfor %}
{% endif %}
</body>
</html>